h1{
    color: darkred;
    text-align: center;
}
a:link{
    color: brown;
    text-decoration: none;
}
a:visited{
    color: chartreuse;
}
a:hover{
    color: saddlebrown;
    text-decoration: underline;
}
p{
    text-align: center;
}



a.link,a:visited{
    background-color: brown;

    color: black;
    padding: 15px 25 px;
    text-align: center;
    text-decoration: none;
}

a:hover,a:active{
    background-color: chartreuse;
    color: brown;
}