h1{
    color: #c1dd0c;
    text-align: center;

}

ul{
    list-style-type: none;
    background-color: #9DA65D;
    overflow: hidden;
    margin: 0;
    padding: 0;
    
}
li{
    float: left;
}
li a{
    display: block;
    color: aliceblue;
    padding: 8px;
    text-decoration: none;
    text-align: center;

}
li a:hover,a:hover{
    background-color: #6C733D;
    text-align: center;

}

h2, p{
    text-align: center;

}
body{
    background-color: #202426;
}
p{
    color: #F2F2F2;
    text-align: center;
}
h2{
    color: #8d9c29;
}

a{
    color: #fbfbfb;
}
li{
    text-align: center;
}
footer{
    clear:both;
    padding: 1px;
    text-align: center;
    width: 100%;
    color:#F2F2F2 ;
}
footer a{
    text-decoration: none;
    background-color: #8d9c29;
    border-radius: 10px 0 10px 0;
    padding: 5px;
}
