h1{
    color:darkred ;
    

    text-align: center;
}
p{
    color:black ;
    background-color:darkred;

    padding: 20px;

    border: 10px solid darkgreen;
   /* margin-top: 20px;
    margin-bottom: 20;
    margin-right: 20px;
    margin-left: 20px;

    margin: 10px 20px 10px;*/
    text-align: center;
    margin:auto 30px; 
}

a{
  
    padding-top: 30px;
}



