h1{
    color:red ;
    

    text-align: center;
}
p{
    color:darkblue;
    background-color: crimson;

    padding: 20px;

    border: 10px solid black;
   /* margin-top: 20px;
    margin-bottom: 20;
    margin-right: 20px;
    margin-left: 20px;

    margin: 10px 20px 10px;*/
    text-align: center;
    margin:auto 30px; 
}

a{
  
    padding-top: 30px;
}

