h1{
    color: #6C733D;
    text-align: center
}
h2{
    color: #9DA65D;
}

p{
    color: #F2F2F2;
}
div{
    border: 3px solid #8C8C88;
    text-align: center;
}
body{
    background-color: #202426;
}

