*{
    font-family: BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;

    background: linear-gradient(#131a2d,#0ffff8);
}

.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30;
    color: beige;
    text-align: center;
}

.contenedor .elemento label{
    color: #fff;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
   
    
}
.contenedor .elemento input[type="submit"]{
    background-color: #0881b6;
    border: none;
     letter-spacing: 5px;
     text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
  


}

.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
