ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}

ol li::before{
    content: 'bienvenido ' counter(contador) ') ';
    color: coral;
}
ol li::after{
    content: '. ';
}